#e45_0 { 
	position:relative;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1398px;
	height:969px;
}
#e4_19 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.699999988079071;
	width:243px;
	height:694px;
	position:absolute;
	left:0px;
	top:275px;
}
#e4_14 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:694px;
	position:absolute;
	left:243px;
	top:275px;
}
#e4_15 { 
	background-color:rgba(241.18749797344208, 230.2335673570633, 131.6481614112854, 1);
	opacity:1;
	width:243px;
	height:74px;
	position:absolute;
	left:0px;
	top:275px;
}
#e4_16 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:243px;
	height:74px;
	position:absolute;
	left:0px;
	top:349px;
}
#e4_17 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:243px;
	height:74px;
	position:absolute;
	left:0px;
	top:423px;
}
#e4_18 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:243px;
	height:74px;
	position:absolute;
	left:0px;
	top:484px;
}
#e4_24 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:194px;
	height:27px;
	position:absolute;
	left:26px;
	top:300px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_25 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:121px;
	height:27px;
	position:absolute;
	left:59px;
	top:373px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_26 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:155px;
	height:27px;
	position:absolute;
	left:42px;
	top:447px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_27 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:202px;
	height:27px;
	position:absolute;
	left:26px;
	top:513px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_30 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:616px;
	height:53px;
	position:absolute;
	left:510px;
	top:312px;
	font-family:Quattrocento;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1025px;
	height:40px;
	position:absolute;
	left:305px;
	top:392px;
	font-family:Quattrocento;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_32 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:110px;
	height:27px;
	position:absolute;
	left:306px;
	top:495px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_33 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:115px;
	height:27px;
	position:absolute;
	left:305px;
	top:557px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_34 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:115px;
	height:27px;
	position:absolute;
	left:305px;
	top:619px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:114px;
	height:27px;
	position:absolute;
	left:305px;
	top:681px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:114px;
	height:27px;
	position:absolute;
	left:306px;
	top:743px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_37 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:115px;
	height:27px;
	position:absolute;
	left:307px;
	top:805px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e4_38 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:114px;
	height:27px;
	position:absolute;
	left:308px;
	top:867px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e11_33 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1397px;
	height:229px;
	position:absolute;
	left:1px;
	top:0px;
}
#ei11_33_1_4 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.699999988079071;
	width:1397px;
	height:49px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei11_33_1_5 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1397px;
	height:64px;
	position:absolute;
	left:0px;
	top:49px;
}
#ei11_33_1_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:67px;
	height:27px;
	position:absolute;
	left:295px;
	top:70px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_1_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:96px;
	height:27px;
	position:absolute;
	left:466px;
	top:68px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_2_0 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:67px;
	height:27px;
	position:absolute;
	left:661px;
	top:70px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_2_1 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:441px;
	height:27px;
	position:absolute;
	left:907px;
	top:69px;
}
#ei11_33_2_2 { 
	color:rgba(0, 0, 0, 0.5299999713897705);
	opacity:1;
	width:157px;
	height:20px;
	position:absolute;
	left:931px;
	top:72px;
	font-family:Quattrocento;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_3_2 { 
	background-color:rgba(241.18749797344208, 230.2335673570633, 131.6481614112854, 1);
	opacity:1;
	width:243px;
	height:180px;
	position:absolute;
	left:0px;
	top:49px;
}
#ei11_33_3_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:226px;
	height:37px;
	position:absolute;
	left:8px;
	top:121px;
	font-family:Quattrocento;
	text-align:left;
	font-size:33px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_4_54 { 
	background-color:rgba(241.18749797344208, 230.2335673570633, 131.6481614112854, 1);
	opacity:1;
	width:130px;
	height:27px;
	position:absolute;
	left:1218px;
	top:11px;
}
#ei11_33_4_55 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:60px;
	height:27px;
	position:absolute;
	left:980px;
	top:11px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_4_56 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:88px;
	height:27px;
	position:absolute;
	left:1085px;
	top:11px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#ei11_33_4_57 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:79px;
	height:27px;
	position:absolute;
	left:1243px;
	top:11px;
	font-family:Quattrocento;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
